header {
    margin-left: auto;
}
.logo {
    width: 50px;
    height: 50px;
}
a {
    color: black;
}
a.nav-link.active {
    cursor: pointer;
    text-decoration: underline;
}

nav-bar.brand.active {
    text-decoration: underline;
}